#header {
    grid-area: header;
}
#left-sidebar {
    grid-area: left-sidebar;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 220px;
}
#right-sidebar {
    grid-area: right-sidebar;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 220px;
}
#footer {
    grid-area: footer;
}
#board {
    grid-area: board;
}
  
#board-container {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "left-sidebar board right-sidebar"
        "footer footer footer";
}

.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--background-color);
}

.log::after {
    content: '>';
    color: var(--primary-color);
}

.log.error::after {
    color: var(--error-color);
}

.log.last::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    font-size: var(--global-font-size);
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    margin-left: 12px;
}

@keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }